*{
  margin: 0;padding: 0;
  box-sizing: border-box;
  list-style: none;
}
:root {
  --color-primary:#191d2b;
  --color-secondary:#27ae60;
  --color-white:#fff;
  --color-black:#000;
  --color-grey0:#f8f8f8;
  --color-grey-1:#dbe1e8;
  --color-grey-2:#b2becd;
  --color-grey-3:#6c7983;
  --color-grey-4:#454e56;
  --color-grey-5:#2a2e35;
  --color-grey-6:#12181b;
  --br-sm-2:14px;
  --box-shadow-1:0 3px 15px rgba(0,0,0,.2);
}
body {
  background-color: var(--color-primary);
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  color: var(--color-white);
  transition: all .4s ease-in-out;
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}
header {
  height: 100vh;
  color:var(--color-white);
  overflow: hidden;
}
section {
  min-height: 100vh;
  width: 100%;
  position: absolute;left: 0;top: 0;
  padding: 3rem 18rem;
}
.section {
  transform: translateY(-100%) scale(0);
  transition: all .4s ease-in-out;
  background-color:var(--color-primary);
}
.sec1 {
  display: none;
  transform: translateY(0) scale(1);
  background-color: rgb(190, 56, 211);
}
.sec2 {
  display: none;
  transform: translateY(0) scale(1);
  background-color: slateblue;
}
.sec3 {
  display: none;
  transform: translateY(0) scale(1);
  background-color: rgb(21, 92, 18);
}
.sec4 {
  display: none;
  transform: translateY(0) scale(1);
  background-color: rgb(211, 193, 35);  
}
.sec5 {
  display: none;
  transform: translateY(0) scale(1);
  background-color: rgb(76, 171, 230);
}
.active {
  display: block;
  animation:scaleAnim 1s ease-in-out;
  @keyframes scaleAnim {
    0% {
      transform: translateY(-100%) scaleY(0);
    }
    100% {
      transform: translateY(0) scaleY(1);
    }
  }
}
//controlls
.controlls {
  position: fixed;right: 3%;top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
  .active-btn {
    background-color: var(--color-secondary) !important;
    transition: all .4s ease-in-out;
    i {
      color: var(--color-white) !important;
    }
  }
  .control {
    padding: 1rem;
    cursor: pointer;
    background-color: var(--color-grey-5);
    border-radius: 50%;
    width: 55px;height: 55px;
    display: flex;align-items: center;justify-content: center;
    margin: 0.7rem 0;
    box-shadow: var(--box-shadow-1);
    i {
      font-size: 1.2rem;
      color: var(--color-grey-2);
      pointer-events: none;
    }
  }
  
}